requests==2.31.0
Flask==2.3.2
einops==0.6.1
accelerate==0.20.3
transformers==4.30.2
diffusers==0.17.1
xformers==0.0.20
torchvision==0.15.2
torchaudio==2.0.2
torchtext==0.15.2
torchdata==0.6.1
imageio[ffmpeg]==2.31.1
omegaconf==2.3.0
decord==0.6.0 
safetensors==0.3.1
opencv-python==4.7.0.72


